*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

nav{
	background:  #352315;
}

nav:after{
	content: '';
	clear: both;
	display: table;
}

nav ul{
	float: right;
	list-style: none;
	margin-right: 40px;
	position: relative;
}

nav ul li{
	float: left;
	display: inline-block;
	background:  #352315;
	margin: 0 5px;
}

nav ul li a{
	color: white;
	text-decoration: none;
	line-height: 70px;
	font-size: 18px;
	padding: 8px 15px;
}

nav ul ul{
	position: absolute;
	top: 90px;
	border-top: 3px solid  peachpuff;
	opacity: 0;
	visibility: hidden;
	transition: top .3s;
}

nav ul li:hover > ul{
	top: 70px;
	opacity: 1;
	visibility: visible;
}

nav ul ul li a:hover{
	color: #352315;
	box-shadow: none;

}

nav ul ul li{
	position: relative;
	margin: 0px;
	width: 150px;
	float: none;
	display: list-item;
	border-bottom: 1px solid chocolate;
	background-color: chocolate;
}

nav ul ul li a{
	line-height: 50px;

}
nav .logo{
	float: left;
	color: white;
	font-size: 27px;
	font-weight: 600;
	line-height: 70px;
	padding-left: 60px;
	font: 'Baloo Chettan';
}

nav ul li a:hover{
	color: #fff9e3;
	border-radius: 5px;
	box-shadow: 0 0 5px orange;
	            0 0 5px yellow;
}