*{
	padding: 0;
	margin: 0;
	font-family: var(--Quicksand);
}

.load{
	animation: slide 3s;
}

.slider{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 90vh;
	animation: slide 30s infinite;
}

.slider2{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 90vh;
	animation: slide 30s infinite;
	overflow: hidden;
}

.principal{
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
	position: absolute;
	letter-spacing: 5px;
	text-align: center;
}

.principal h1{
	font-family: 'lucida handwriting';
	font-size: 90px;
	margin-bottom: 20px;
	text-shadow: 6px 4px 4px #000000;
	color: white;
}

.principal h4{
	font-size: 25px;
	text-shadow: 6px 4px 4px #000000;
	color: white;
}

.text4-restaurant {
	text-align: left;
	color: white;
	font-size: 15;
	font-family: 'Quicksand', sans-serif;
	transform: translate(-50%,-50%);
	position: absolute;
	top: 27%;
	left: 27%;
}

.imgrestaurant {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}

.restaurant1 {
	width: 300px;
	height: 250px;
	float: left;
	border-style: solid; 
	border-color: #c46316;
	margin-right: 50px;
	margin-bottom: 20px;
}

.restaurant2 {
	width: 300px;
	height: 250px;
	float: right;
	border-style: solid; 
	border-color: #c46316;
	margin-left: 50px;
	margin-bottom: 20px;
}

.restaurant3 {
	width: 300px;
	height: 250px;
	float: left;
	border-style: solid; 
	border-color: #c46316;
	margin-right: 50px;
	margin-bottom: 20px;
}


.restaurant4 {
	width: 300px;
	height: 250px;
	float: right;
	border-style: solid; 
	border-color: #c46316;
	margin-left: 50px;
	margin-bottom: 20px;
}

.restaurant5 {
	width: 300px;
	height: 250px;
	float: left;
	border-style: solid; 
	border-color: #c46316;
	margin-right: 50px;
	margin-bottom: 20px;
}

.box1_restaurant {
	width: 1600px;
	height: 320px;
	background: rgba(0, 0, 0, 0.6);
	text-align: justify;
	border-spacing: 5px;
	letter-spacing: 2.0;
	word-spacing: 3.5px;
	padding: 40px;
	margin: 90px;
	margin-left: 90px;
	color: white;
	font-family: 'Quicksand', sans-serif;
	border: 10px
}

.box2_restaurant {
	width: 1600px;
	height: 320px;
	background: rgba(0, 0, 0, 0.6);
	text-align: justify;
	border-spacing: 5px;
	letter-spacing: 2.0;
	word-spacing: 3.5px;
	padding: 40px;
	margin: 90px;
	margin-left: 90px;
	margin-top: -5%;
	color: white;
	font-family: 'Quicksand', sans-serif;
	border: 10px
}

.box3_restaurant {
	width: 1600px;
	height: 320px;
	background: rgba(0, 0, 0, 0.6);
	text-align: justify;
	border-spacing: 5px;
	letter-spacing: 2.0;
	word-spacing: 3.5px;
	padding: 40px;
	margin: 90px;
	margin-left: 90px;
	margin-top: -5%;
	color: white;
	font-family: 'Quicksand', sans-serif;
	border: 10px
}

.box4_restaurant {
	width: 1600px;
	height: 320px;
	background: rgba(0, 0, 0, 0.6);
	text-align: justify;
	border-spacing: 5px;
	letter-spacing: 2.0;
	word-spacing: 3.5px;
	padding: 40px;
	margin: 90px;
	margin-left: 90px;
	margin-top: -5%;
	color: white;
	font-family: 'Quicksand', sans-serif;
	border: 10px
}

.box5_restaurant {
	width: 1600px;
	height: 320px;
	background: rgba(0, 0, 0, 0.6);
	text-align: justify;
	border-spacing: 5px;
	letter-spacing: 2.0;
	word-spacing: 3.5px;
	padding: 40px;
	margin: 90px;
	margin-left: 90px;
	margin-top: -5%;
	color: white;
	font-family: 'Quicksand', sans-serif;
	border: 10px
}
